[nicobbs]
mail = user@example.com
password = password
database_name = dbname
# ng_words = ng_word_1,ng_word_2,...
ng_words = 

[community-co12345]
consumer_key = xxx
consumer_secret = xxx
access_key = xxx
access_secret = xxx

[community-co67890]
consumer_key = xxx
consumer_secret = xxx
access_key = xxx
access_secret = xxx

[loggers]
keys=root

[logger_root]
level=NOTSET
handlers=file

[handlers]
keys=stdout,file

[handler_stdout]
class=StreamHandler
level=NOTSET
formatter=default
args=(sys.stdout,)

[handler_file]
class=handlers.RotatingFileHandler
level=NOTSET
formatter=default
args=(os.getcwd() + "/log/nicobbs.log", 'a', (10*1024*1024), 9)

[formatters]
keys=default

[formatter_default]
format=[%(asctime)s] [%(levelname)s] [%(threadName)s] %(message)s
datefmt=
