[nicobbs]
dry_run = false
mail = user@example.com
password = password
database_name = dbname
target_community = co12345

[twitter]
consumer_key = xxx
consumer_secret = xxx
access_key = xxx
access_secret = xxx

[loggers]
keys=root

[formatters]
keys=default

[handlers]
keys=default

[formatter_default]
format=[%(asctime)s] [%(levelname)s] %(message)s
datefmt=

[handler_default]
class=StreamHandler
level=NOTSET
formatter=default
args=(sys.stdout,)

[logger_root]
level=NOTSET
handlers=default
