[nicobbs]
dry_run = false
mail = user@example.com
password = password
database_name = dbname
target_community = co12345
# ng_words = ng_word_1,ng_word_2,...
ng_words = 

[twitter]
consumer_key = xxx
consumer_secret = xxx
access_key = xxx
access_secret = xxx

[loggers]
keys=root

[logger_root]
level=NOTSET
handlers=default

[handlers]
keys=default

[handler_default]
class=StreamHandler
level=NOTSET
formatter=default
args=(sys.stdout,)

[formatters]
keys=default

[formatter_default]
format=[%(asctime)s] [%(levelname)s] %(message)s
datefmt=
