# niconico
export NICO_MAIL='mail@example.com'
export NICO_PASSWORD='p@ssword'

# twitter
export CONSUMER_KEY=xxxxx
export CONSUMER_SECRET=xxxxx
export ACCESS_KEY=xxxxx
export ACCESS_SECRET=xxxxx

# database
export DATABASE_NAME=xxxxx
